<!DOCTYPE html>
<html>
  <head>
    <title>Inbox</title>
    <% include ./base/head %>
  </head>
  <body>
    <% include ./base/nav %>
    <% include ./base/scripts %>
    <div class="display-flex">
      <h1 class="">Messages</h1>
      <div class="">
        <% if(hasAnyAuthorization) { %>
          <%- include("./base/newButton", {newUrl: "/messages/send"}) %>
        <% } %>
      </div>
    </div>
    <% if (messagelist && messagelist.length) { %>
      <ul class="right-margin">
        <% messagelist.forEach((item) => { %>
          <%- include("./base/messagePanel", {
            sender: item.sender,
            text: item.messagetext
          }) %>
        <% }) %>
      </ul>
    <% } %>
    <% include ./base/footer %>
  </body>
</html>