<!DOCTYPE html>
<html>
  <head>
    <title>SGRA</title>
    <% include ./base/head %>
  </head>
  <body>
    <% include ./base/nav %>
    <% include ./base/scripts %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% include ./base/footer %>
  </body>
</html>
