<!DOCTYPE html>
<html>
  <head>
    <title>Material List</title>
    <link rel='stylesheet' href='/public/stylesheets/style.css' type="text/css"/>
  </head>
  <body>
    <h1>Material List</h1>
    <% if (materiallist && materiallist.length) { %>
      <ul>
        <% materiallist.forEach((item) => { %>
          <li>
            <a class="test" href="/materials/<%= item._id %>/edit"><%= item.materialname %></a>
            <a href="/materials/<%= item._id %>/delete">Delete</a>
          </li>
        <% }) %>
      </ul>
    <% } %>
  </body>
</html>