<!DOCTYPE html>
<html>
  <head>
    <title>Message List</title>
    <% include ./base/head %>
  </head>
  <body>
    <% include ./base/nav %>
    <% include ./base/scripts %>
    <h1>Message List</h1>
    <% if (messagelist && messagelist.length) { %>
      <ul>
        <% messagelist.forEach((item) => { %>
          <li>
            <a class="test" href="/messages/<%= item._id %>/edit"><%= item.messagetext %></a>
            <a href="/messages/<%= item._id %>/delete">Delete</a>
          </li>
        <% }) %>
      </ul>
    <% } %>
    <%- include("./base/newButton", {newUrl: "/messages/new"}) %>
    <% include ./base/footer %>
  </body>
</html>