<!DOCTYPE html>
<html>
  <head>
    <title>Project List</title>
    <% include ./base/head %>
  </head>
  <body>
    <% include ./base/nav %>
    <% include ./base/scripts %>
    <h1>Project List</h1>
    <% if (projectlist && projectlist.length) { %>
      <ul>
        <% projectlist.forEach((item) => { %>
          <li>
            <a class="test" href="/projects/<%= item._id %>/edit"><%= item.projectname %></a>
            <a href="/projects/<%= item._id %>/delete">Delete</a>
          </li>
        <% }) %>
      </ul>
    <% } %>
    <form id="formAddProject" name="addproject" method="get" action="/projects/new">
      <button id="btnSubmit" type="submit">Novo</button>
    </form>
    <% include ./base/footer %>
  </body>
</html>