<!DOCTYPE html>
<html>
  <head>
    <title>Requirement List</title>
    <% include ./base/head %>
  </head>
  <body>
    <% include ./base/nav %>
    <% include ./base/scripts %>
    <h1>Requirement List</h1>
    <% if (requirementlist && requirementlist.length) { %>
      <ul>
        <% requirementlist.forEach((item) => { %>
          <li>
            <a class="test" href="/requirements/<%= item._id %>/edit"><%= item.requirementname %></a>
            <a href="/requirements/<%= item._id %>/delete">Delete</a>
          </li>
        <% }) %>
      </ul>
    <% } %>
    <% include ./base/footer %>
  </body>
</html>