<!DOCTYPE html>
<html>
  <head>
    <title>User List</title>
    <% include ./base/head %>
  </head>
  <body>
    <% include ./base/nav %>
    <% include ./base/scripts %>
    <h1>User List</h1>
    <% if (userlist && userlist.length) { %>
      <ul>
        <% userlist.forEach((item) => { %>
          <li>
            <a class="test" href="/users/<%= item._id %>/edit"><%= item.username %></a>
            <a href="/users/<%= item._id %>/delete">Delete</a>
          </li>
        <% }) %>
      </ul>
    <% } %>
    <form id="formAddUser" name="adduser" method="get" action="/users/new">
      <button id="btnSubmit" type="submit">Novo</button>
    </form>
    <% include ./base/footer %>
  </body>
</html>