<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">SGRA</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/inbox">Inbox</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/users">Lista de usuários</a></li>
              <li><a href="/users/new">Novo usuário</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/projects">Lista de projetos</a></li>
              <li><a href="/projects/new">Novo projeto</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/requirements">Lista de requerimentos</a></li>
              <li><a href="/requirements/new">Novo requerimento</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/materials">Lista de materiais</a></li>
              <li><a href="/materials/new">Novo material</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/messages">Lista de mensagens</a></li>
              <li><a href="/messages/new">Nova mensagem</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/audits">Lista de auditorias</a></li>
              <li><a href="/audits/new">Nova auditoria</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/projectMaterials/new">Associar material à projeto</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/projectRequirements/new">Associar requerimento à projeto</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>